/*
    Created on : May 2020
    Project: OpenStock
    Author: Yung-Ting, Maria & Clara
*/

/* IMPORTS
=====================*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

/* RESET
=====================*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*   border: 1px solid red;
 */
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #edf2f4;
  background-color: #2b2d42;
  text-align: center;
}

/* HEADER
=====================*/

#root {
  padding-top: 104px;
  margin: 0 auto;
}

nav {
  width: 100%;
  padding: 16px 40px;
  background-color: #2b2d42;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 999;
}

nav div#logoHome img {
  height: 28px;
}

nav div:nth-child(2) a:not(:last-child) {
  margin-right: 24px;
}

/* MAIN
=====================*/

main {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  color: #edf2f4;
  text-decoration: none;
}

a:hover {
  text-decoration: wavy;
  color: #16db86;
}

/* CATEGORIES */

#catContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button.btnCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 112px;
  background: none;
  border: none;
}

button.btnCategories:hover {
  cursor: pointer;
}

button.btnCategories img {
  height: 48px;
  margin-bottom: 14px;
}

button.btnCategories p {
  text-align: center;
  font-size: 14px;
  color: #16db86;
}

/* LIST */

#listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 48px 0;
}

.appCard {
  padding: 24px 16px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  text-align: left;
  background-color: #2b2d42;
  box-shadow: 0px 1px 4px #1a1829;
  box-shadow: 0px 1px 4px rgba(26, 24, 41, 0.6);
}

.appCard a {
  width: 96px;
  margin-right: 16px;
}

.appCard a img {
  height: 64px;
<<<<<<< HEAD
  display: block;
  margin: 0 auto;
=======
  max-width: 88px;
>>>>>>> 179b15ab312ce55d67b8981db4fcfdf56be5a1e0
}
