/*
    Created on : May 2020
    Project: OpenStock
    Author: Yung-Ting, Maria & Clara
*/

/* IMPORTS
=====================*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

/* RESET
=====================*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*   border: 1px solid red;
 */
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #edf2f4;
  background-color: #2b2d42;
  text-align: center;
}

a {
  color: #edf2f4;
  text-decoration: none;
}

a:hover {
  text-decoration: wavy;
  color: #16db86;
}

button,
.aButton {
  padding: 10px 20px;
  background-color: #2b2d42;
  border: 1px solid #16db86;
  font-size: 16px;
  font-weight: 500;
  color: #16db86;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

form button {
  padding: 12px 20px;
  margin: 24px;
  background-color: #2b2d42;
  border: 1px solid #16db86;
  font-size: 16px;
  font-weight: 500;
  color: #16db86;
}

/* HEADER
=====================*/

#root {
  padding-top: 104px;
  margin: 0 auto;
}

nav {
  width: 100%;
  padding: 16px 40px;
  background-color: #2b2d42;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

nav div#logoHome img {
  height: 28px;
}

nav div:nth-child(2) a:not(:last-child) {
  margin-right: 24px;
}

.loggedUser p {
  display: inline-block;
  margin-right: 24px;
  font-weight: 300;
}
.loggedUser span {
  color: #16db86;
}

/* MAIN
=====================*/

main {
  max-width: 1140px;
  margin: 0 auto;
  min-height: 72vh;
}

h1,
h2 {
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 24px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin-top: 16px;
}

/* SEARCH */

form#search {
  margin-top: 48px;
  margin-bottom: 80px;
}

#search input {
  padding: 16px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  width: 60%;
  max-width: 600px;
  min-width: 400px;
  background-color: #232536;
  color: #edf2f4;
}

#search input::placeholder {
  color: #7485a3;
  font-weight: 300;
}

#search input:focus {
  outline-color: #16db86;
  outline-width: 2px;
  color: #edf2f4;
}

/* CATEGORIES */

#catContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button.btnCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 112px;
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
}

button.btnCategories:focus {
  outline: none;
}

button.btnCategories img {
  height: 40px;
  margin-bottom: 14px;
}

button.btnCategories p {
  text-align: center;
  font-size: 14px;
  color: #16db86;
}

/* LIST */

#listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 88px 0;
}

.appCard {
  padding: 16px 16px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  text-align: left;
  background-color: #2b2d42;
  box-shadow: 0px 1px 4px #1a1829;
  box-shadow: 0px 1px 4px rgba(26, 24, 41, 0.7);
}

.appCard_wish {
  padding: 16px 16px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  background-color: #2b2d42;
  box-shadow: 0px 1px 4px #1a1829;
  box-shadow: 0px 1px 4px rgba(26, 24, 41, 0.7);
}

.appCard_wish a img {
  height: 64px;
  display: block;
  margin: 0 auto;
  max-width: 88px;
  filter: saturate(0.8);
}

.appCard a {
  width: 96px;
}

.appCard a img {
  height: 64px;
  display: block;
  margin: 0 auto;
  max-width: 88px;
  filter: saturate(0.8);
}

.appCard div {
  margin-left: 16px;
}
.appCard div a {
  display: inline-block;
}
.appCard h3 {
  font-size: 19px;
  margin-bottom: 8px;
}

.appCard h6 {
  color: #a1afc7;
  font-size: 12px;
}

/* FOOTER
=====================*/

footer {
  font-weight: 300;
  font-size: 14px;
  margin: 24px;
}

footer p:first-child {
  margin-bottom: 8px;
}
footer a {
  color: #16db86;
}
