@import './Colors.scss';

main#about {
    width: 56%;
    padding-top: 40px;
    margin: 0 auto;
}

@media all and (max-width: 600px) {
    main#about {
      width: 80%;
      padding-top: 20px;
    }
  }
