@import './Colors.scss';

button,
.aButton {
  padding: 10px 20px;
  background-color: $darkBlue;
  border: 1px solid $bodyGreen;
  font-size: 16px;
  font-weight: 500;
  color: $bodyGreen;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

form button {
  padding: 12px 20px;
  margin: 24px;
  background-color: $darkBlue;
  border: 1px solid $bodyGreen;
  font-size: 16px;
  font-weight: 500;
  color: $bodyGreen;
}

.labels-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
  }

.small {
    align-items: center;
    width: 60px;
    padding: 10px 20px;
    margin-bottom: 0;
    margin-left: 0.3rem;
    font-size: 16px;
    color: $bodyGreen;
    border: 1px solid $bodyGreen;
    font-family: inherit;
  }

  
// override general a:hover style for aButton
// a:hover #linkBtn {
//   color: $gold;
// }