@import '../Colors.scss';

button,
.aButton 
{
  padding: 10px 20px;
  background-color: $darkBlue;
  border: 1px solid $bodyGreen;
  font-size: 16px;
  font-weight: 500;
  color: $bodyGreen;
}

button:hover {
  cursor: pointer;
  color:$bodyGreen;
}

button:focus {
  outline: none;
}

form button {
  padding: 12px 20px;
  margin: 24px; 
}