@import './Colors.scss';

button,
.aButton 
{
  padding: 10px 20px;
  background-color: $darkBlue;
  border: 1px solid $bodyGreen;
  font-size: 16px;
  font-weight: 500;
  color: $bodyGreen;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

form button {
  padding: 12px 20px;
  margin: 24px;
  background-color: $darkBlue;
  border: 1px solid $bodyGreen;
  font-size: 16px;
  font-weight: 500;
  color: $bodyGreen;
}

.labels-container {
    display: flex;
    flex-direction: row-reverse;
  }

#small {
    align-items: center;
    margin: 0 0 0 1rem;
    padding: 0; 
    font-size: 16px;
    color: $bodyGreen;
    border: none;
    font-family: inherit;
    background-color: $darkBlue;
  }

.icon-btns {
  width: 30px;
}

  
// override general a:hover style for aButton
// a:hover #linkBtn {
//   color: $gold;
// }