$darkBlue: #2b2d42;
$darkerBlue: #232536;
$almostWhite: #edf2f4;
$bodyGreen: #16db86;
$thinBodyGreen: rgba(22,219,135,0.5);
$gray: #7485a3;
$lightGray:#a1afc7;
$boxShadow: rgba(26, 24, 41, 0.7);
$whitePink: #AEA8D3;
$thinWhitePink: rgba(174,168,211, 0.5);
$paleWhitePink: #cecae4ff;
$backDropBlack: rgba(0, 0, 0, 0.3);

$successGreenGradient: linear-gradient(to right,#097968, #097957 );; 
$errorRed: #ff3c46;
$headsupBlue: #31708f;
$headsupLightBlue: #bce8f1;
$headsupBackgroundBlue: #d9edf7;
$washedOutRed: #c87b7f;
$gold: #a18d6c;
$lightGold: #c5b79f;
$thinlightGold: rgba(196,183,159,0.3)
