@import './Colors.scss';

.text-area label{
  display: flex;
  justify-content: flex-start;
}

.comment-text-area {
  width: 100%;
  display: block;
  padding: 14px;
  font-size: 15px;
  font-weight: 500;
  background-color: $darkerBlue;
  color: $almostWhite;
  border: 0;
  margin-bottom: 16px;
  /* only differnce from #addApp textarea */
  height: 100px;
}

.small-submit-btn {
  padding: 12px 20px;
  margin: 0px;
  background-color: $darkBlue;
  border: 1px solid $bodyGreen;
  font-size: 16px;
  font-weight: 500;
  color:$bodyGreen;
}

.reivews-container {
  padding: 0 16px 16px 16px;
  /* add alpha value in rgb to generate line < 1px */
  border-bottom: 1px solid $thinWhitePink;
  border-top: 1px solid $thinWhitePink;
}

.reivews-container p{
  margin-top: 1rem;
  margin-bottom: 0 !important;
}

.review-user-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-right: 10px;
  margin-top: 1rem;
}

.review-user-container h5  {
  padding-right: 10px
}

.time-stamp
{
  font-size: 10px;
  font-weight: 400;
}

