@import '../Colors.scss';

.toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12px;
    width: 20px;
    background:transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-btn:focus {
    outline: none;
}

.toggle-btn-line {
    width: 20px;
    height: 2px;
    background: $lightGray;
}
