@import './Colors.scss';

/* sticky footer: see .wrapper in Loader*/
footer {
    font-weight: 300;
    font-size: 14px;
    margin: 24px;
  }
  
  footer p:first-child {
    margin-bottom: 8px;
  }
  footer a {
    color: $bodyGreen;
  }