@import '../Colors.scss';

/* sticky footer: see .wrapper in Loader*/
footer {
  font-weight: 300;
  font-size: 12px;
  margin: 24px;
  padding: 8px 0;
}

footer p {
  margin-bottom: 8px;
}
footer a {
  color: $bodyGreen;
}

@media (min-width: 600px) {
  footer {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  footer p {
    margin-right: 6px;
  }
}

