/*
    Created on : May 2020
    Project: OpenStock
    Author: Yung-Ting, Maria & Clara
*/

@import './Colors.scss';
/* LOG IN and SIGN UP
=====================*/

form#login,
form#signup {
  width: 60%;
  padding: 40px 88px;
  margin: 0 auto;
  text-align: center;
  background-color: $darkBlue;
  box-shadow: 0px 1px 4px $boxShadow;
}

form h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 32px;
}

#login input,
#signup input {
  width: 100%;
  display: block;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  background-color:$darkerBlue;
  color:$almostWhite;
  border: 0;
}

#login input#username,
#signup input#username {
  margin-bottom: 16px;
}

input::placeholder,
#signup input::placeholder {
  color:$gray;
  font-weight: 300;
  font-size: 14px;
}

input:focus,
#signup input:focus {
  outline-color:$bodyGreen;
  outline-width: 2px;
  color:$almostWhite;
}

#login label,
#signup label {
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  
  margin-bottom: 8px;
}

.reminder {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
}

#underline_text {
  text-decoration: underline;
}

@media all and (max-width: 600px) {
  form#login,
  form#signup {
    width: 90%;
    padding: 40px 30px;
  }
}