/*
    Created on : May 2020
    Project: OpenStock
    Author: Yung-Ting, Maria & Clara
*/

@import './Colors.scss';
/* ADD NEW APP FORM
=====================*/

form#addApp 
{
  width: 70%;
  padding: 48px 96px;
  margin: 0 auto;
  text-align: center;
  background-color: $darkBlue;
  box-shadow: 0px 1px 4px $boxShadow;
}

form h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 32px;
}

#addApp 
:not(.checkboxes)
input 
{
  width: 100%;
  display: block;
  padding: 14px;
  font-size: 15px;
  font-weight: 500;
  background-color:$darkerBlue;
  color:$almostWhite;
  border: 0;
  margin-bottom: 16px;
  margin-top: 8px;
}


#addApp textarea {
  width: 100%;
  display: block;
  padding: 14px;
  font-size: 15px;
  font-weight: 500;
  background-color:$darkerBlue;
  color:$almostWhite;
  border: 0;
  height: 200px;
  margin-bottom: 16px;
  margin-top: 8px;
}

#addApp input::placeholder,
#addApp textarea::placeholder {
  color:$gray;
  font-weight: 300;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

#addApp input:focus,
#addApp textarea:focus,
#addApp select {
  outline-color:$bodyGreen;
  outline-width: 2px;
  color:$almostWhite;
}

#addApp label,
#addApp p {
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 8px;
}

#addApp select {
  width: 100%;
  height: 40px;
  display: block;
  font-size: 15px;
  font-weight: 500;
  background-color:$darkerBlue;
  color:$almostWhite;
  border: 0;
  margin-bottom: 24px;
  margin-top: 8px;
}

#addApp .checkboxes {
  text-align: start;
}

#addApp .checkboxes input {
  width: 21px;
  height: 21px;
  margin-right: 18px;
  margin-left: 6px;
}

#addApp .checkboxes label {
  font-weight: 500;
  width: auto;
}

.return-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.return-arrow {
  color: $bodyGreen;
  font-size: 26px;
  border: none;
  padding: 0;
}


@media all and (max-width: 600px) {
  form#addApp {
    width: 90%;
    padding: 40px 30px;
  }
  .return-container {
    width: 90%;
  }
}

// custom checkbox
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox']
   {
    // Custom properties:define --* as CSS var
    --active: #232536; //$darkerBlue
    --active-inner: #edf2f4; //$bodyGreen
    --focus: 1px   #16db86; //$bodyGreen
    --border:  #232536; //$darkerBlue
    --border-hover:#16db86; //$bodyGreen
    --background: #232536; //$darkerBlue
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    width: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      --o: 1;
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:after {
      opacity: var(--o, 0);
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }
  }
  input[type='checkbox'] {
      border-radius: 6px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
  }
}
