@import './Colors.scss';

.popover-container
{
    height: 60%;
    width: 88%;
    background: $darkBlue;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    border-radius: 20px;
    // above backdrop, if not remove z-index
    z-index: 200; 
    // center display (parent position: relative)
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // animation
    animation-duration: 0.8s;
    animation-name: slidein;
    // inner content
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.popover-container.close {
    display: none;
}

.primary {
    align-items: center;
    font-size: 16px;
    color: $darkBlue;
    font-family: inherit;
    background-color: $bodyGreen;
    align-self: center;
    margin-top: 16px;
}

.popover-container p {
    padding: 10px 10%;
    color: $lightGold;
    text-align: justify;
}

.popover-container img {
    margin-bottom: 16px;
}

@keyframes slidein {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}

@media (min-width: 601px) {
    .popover-container p {
        padding: 10px 16%;
    }
}