@import './Colors.scss';

form#search {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 60%;
    position: relative; 
    margin-left: auto; 
    margin-right: auto;
  }
  
#search input {
  padding: 16px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  background-color: $darkerBlue;
  color: $almostWhite;
}

#search input::placeholder {
  color: $gray;
  font-weight: 300;
}

#search input:focus {
  outline-color:$bodyGreen;
  outline-width: 2px;
  color: $almostWhite;
}

#search .search-icon-container {
  background-color: $darkerBlue;
  padding: 0 16px;
  // push icon to end of search bar
  position: absolute; 
  right: 1px;
  top: calc(50% - 16px/2);// 16px == width of img
  pointer-events: none; 
}

.search-icon-container img  {
  background-color: $darkerBlue;
  width: 16px;
}

@media all and (max-width: 600px) {
  form#search {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 88%;
  }
}