@import './Colors.scss';

.success .MuiSnackbarContent-message {
    color: $lightGold;
    font-size: 16px;
}

.success .MuiSnackbarContent-root {
    background-image: $successGreenGradient;
    box-shadow: 10px 10px 5px 0px  $boxShadow ;
    display: block ;
}

@media (min-width: 601px) {
    .success .MuiSnackbarContent-root {
        flex-grow: initial;
        min-width: 340px;
       }
    }

