.side-drawer {
    height: 100%;
    background: black;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200; /*above backdrop*/
    /*animation*/
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open {
    /*animation*/
    transform: translateX(0);
}

.side-drawer li {
    margin: 0.5rem;
}

.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-drawer a {
   
    font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #521751
}