.text-area label{
  display: flex;
  justify-content: flex-start;
}

.comment-text-area {
  width: 100%;
  display: block;
  padding: 14px;
  font-size: 15px;
  font-weight: 500;
  background-color: #232536;
  color: #edf2f4;
  border: 0;
  margin-top: 10px;
  margin-bottom: 16px;
  /* only differnce from #addApp textarea */
  height: 100px;
}